<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utils</title>
</head>
<body>
<h1>WELCOME TO THE TEXT ANALYZER</h1><br>
    <h1>Enter Your Text Below:</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 1492px; height: 155px;'></textarea><br>
    <input type='checkbox' name='removepunc'>Remove Punctuations<br>
    <input type='checkbox' name='fullcaps'>UPPERCASE<br>
    <input type='checkbox' name='newlineremover'>New Line Remover<br>
    <input type='checkbox' name='extraspaceremover'>Space Remover<br>
    <button type='submit'>ANALYZE TEXT</button>

</form>
</body>
</html>